<table>
    <tr>
        <th>#</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Year</th>
        <th></th>
    </tr>
    <tr class="table_row" *ngFor="let song of songs; index as i;">
        <th>{{i + 1}}</th>
        <td class="artist">{{song.artist}}</td>
        <td class="title">{{song.title}}</td>
        <td class="year">{{song.year}}</td>
        <td class="row">
            <button class="col-md-5 btn btn-danger btn-sm" (click)="remove(song)">REMOVE</button>
            <div class="col-md-1"></div>
            <button class="col-md-5 btn btn-info btn-sm" style="background-color: yellow;"
                (click)="showUpdate(song)">UPDATE</button>
        </td>
    </tr>
</table>