<div class="container">
    <div class="row">
        <h2 class="col-md-4 mx-auto">ALLEVA PLAYLIST</h2>
    </div>
    <div class="row">
        <button class="col-md-1 btn btn-sm btn-success" *ngIf="!isCreate && !isUpdate"
            (click)="showCreateSong()">CREATE</button>
    </div>
    <div class="row">
        <app-song-list *ngIf="!isCreate && !isUpdate" [songs]="songs" (removeSong)="removeSong($event)"
            (showUpdateSong)="showUpdateSong($event)"></app-song-list>
    </div>

    <div class="row" *ngIf="isCreate || isUpdate">
        <app-song-upsert (cancel)="closeUpsert()" (update)="saveForm($event)" [song]="song"></app-song-upsert>
    </div>

</div>